<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-dark">Agregar Restaurante</p>
            <p class="fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nobis ab voluptate
                quo, ex dicta
                corporis recusandae hic labore modi deserunt provident! Eligendi ipsum quo possimus repudiandae modi,
                aspernatur fugiat!
            </p>
        </div>
    </div>
</div>

<!-- Mensaje de Error -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4-text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>

<!-- Agregar -->
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input required="true" [(ngModel)]="resto.name" name="name" type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="resto.photo" name="photo" type="text" class="form-control" placeholder="URL de la foto">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="resto.email" name="email" type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="resto.mobile" name="mobile" type="phone" class="form-control" placeholder="Teléfono">
                </div>
                <div class="mb-2">
                    <input required="true" [(ngModel)]="resto.address" name="address" type="text" class="form-control" placeholder="Dirección">
                </div>
                <div class="mb-2">
                    <select required="true" [(ngModel)]="resto.category" name="category" id="" class="form-control">
                        <option value="Bar">Bar</option>
                        <option value="Restaurante">Restaurante</option>
                        <option value="Cafetería">Cafetería</option>
                    </select>
                </div>
                <div class="mb-2">
                    <div class="d-inline-block px-1">
                        <input type="submit" class="btn btn-primary" value="Guardar Restaurante">
                    </div>
                    <div class="d-inline-block p-1">
                        <a routerLink="/" class="btn btn-dark">Cerrar</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="resto.photo" class="resto-img-add"
                alt="">
        </div>
    </div>
</div>